#viewer {
	position: relative;
	width: 100%;
	height: 100%;
	outline-style: ridge;
	background-image: linear-gradient(black, grey);
}

#viewer-container {
	height: 100%;
	/* Firefox */
	width: -moz-calc(100% - 60px);
	/* WebKit */
	width: -webkit-calc(100% - 60px);
	/* Opera */
	width: -o-calc(100% - 60px);
	width: calc(100% - 60px);
}

#loadingScreen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scrollable::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.hide-scrollbar
{
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.showonfocus {
    opacity: 0;
}

.showonfocus:hover {
    opacity: 1;
}

.buttonlink {
	background: none !important;
	border: none;
	font-family: arial, sans-serif;
	padding: 0 !important;
	text-decoration: underline;
	color: #069;
	cursor: pointer;
  }

  div.twitter-picker[style] {
	  background-color: rgba(250,250,250,0.3) !important;
  }